################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VanPhongPham/FileContentIndex/3f80a79a-106a-4933-bfb7-0cecd25221ee.vsidx
/.vs/VanPhongPham/FileContentIndex/672d38f2-5985-4283-814d-6517904e9bc1.vsidx
/.vs/VanPhongPham/FileContentIndex/77517193-cce2-48ca-9932-1ee226cefcae.vsidx
/.vs/VanPhongPham/FileContentIndex/a845510f-5b42-4bc9-9e2d-068a711ad0cd.vsidx
